body{
    background-color:  lightyellow;
}
h1 {
    color: purple;
    text-align: center;
    font-size: 50px;
    font-family:monospace;
    padding: 50px 50px 50px 50px;
    margin: 50px 50px 50px 50px
}
h2 {
  color:aquamarine;
  text-align:left;
  font-size: 25px;
  font-family:monospace;
}
h3 {
  color:aquamarine;
  text-align:center;
  font-size: 25px;
  font-family:monospace;
}
p {
    background-color: orangered;
    color: #0000ff;
    width: 60%;
}
.box {
    float: right;
    margin-left: 15px;
    width: 350px;
    height: 150px;
    border-radius: 5px;
    background-color: rgb(207 232 220);
    padding: 1em;
  }
.positioned {
   position: relative;
   background:rgb(3 0 142);
   color: white;
   font-size: 100;
   top: 150px;
   left: 150px;
  }
/* ul {
    display: none;
} */
ol {
    display: none;
}
.container {
    position: absolute;  /* Make the container the reference point */
    width: 100vw;        /* Full viewport width */
    height: 100vh;       /* Full viewport height */
  }
img {
    width: 300px;
    height: 300px;
    position: absolute;   /* Allow positioning relative to the container */
    top: 50%;             /* Move to 50% of the container's height */
    left: 50%;            /* Move to 50% of the container's width */
    transform: translate(-50%, -50%);  /* Adjust by 50% of the image's size to center it */
  }
